<footer id="colorlib-footer" role="contentinfo">
<div class="container">
    <div class="row row-pb-md">
        <div class="col-md-3 colorlib-widget">
            <h4>Ghurte Jai</h4>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
            <p>
                <ul class="colorlib-social-icons">
                    <li><a href="http://twitter.com/saiftheboss7"><i class="icon-twitter"></i></a></li>
                    <li><a href="http://facebook.com/saiftheboss7"><i class="icon-facebook"></i></a></li>
                </ul>
            </p>
        </div>
        <div class="col-md-2 colorlib-widget">
            <h4>Book Now</h4>
            <p>
                <ul class="colorlib-footer-links">
                    <li><a href="/">Medicines</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </p>
        </div>
        <div class="col-md-2 colorlib-widget">
            <h4>Popular Medicines</h4>
            <p>
                <ul class="colorlib-footer-links">
                    <li><a href="/ordermed/2">Amoxacilin</a></li>
                    <li><a href="/ordermed/3">Napa</a></li>
                    <li><a href="/ordermed/2">Cough Syrup</a></li>
                    <li><a href="/ordermed/4">Napa Extra</a></li>
                </ul>
            </p>
        </div>
        <div class="col-md-2">
            <h4>Pinned Posts</h4>
            <ul class="colorlib-footer-links">
                <li><a href="#">The Ultimate Packing List For Female Travelers</a></li>
                <li><a href="#">How These 5 People Found The Path to Their Dream Trip</a></li>
                <li><a href="#">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-md-push-1">
            <h4>Contact Information</h4>
            <ul class="colorlib-footer-links">
                <li>944 Silicon Malancho, <br> Flat: 5A, Road: 14, Baitul Aman Housing Society, Adabor, Dhaka</li>
                <li><a href="tel://8801820570771">+8801521332872</a></li>
                <li><a href="mailto:saiftheboss7@gmail.com">saiftheboss7@gmail.com</a></li>
                <li><a href="http://facebook.com/saiftheboss7">Find Me On Facebook</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Developed By <a href="https://www.facebook.com/saiftheboss7" target="_blank">Saif</a> | Thanks To <a href="https://colorlib.com" target="_blank">Colorlib</a>

            </p>
        </div>
    </div>
</div>
</footer>
