					<!-- SIDEBAR-->
					<div class="col-md-3">
						<div class="sidebar-wrap">
							<div class="side search-wrap animate-box">
								<h3 class="sidebar-heading">Find Your Hotel</h3>
								<form method="GET" class="colorlib-form" action="search_hotel.php">
				              	<div class="row">
				                <div class="col-md-12">
				                    <div class="form-field">
				                      <input type="text" id="hotel_search" class="hotel_location tt-query form-control" autocomplete="off" spellcheck="false" placeholder="Search Location" name="hotel_location">
				                    </div>
				                </div>
				                <div class="col-md-12">
				                </div>
				                <div class="col-md-12">
				                </div>
				                <div class="col-md-12">
				                  <input type="submit" name="submit" id="submit" value="Find Hotel" class="btn btn-primary btn-block">
				                </div>
				              </div>
				            </form>

				            <hr>

								<h3 class="sidebar-heading">Find Tours</h3>
								<form method="GET" class="colorlib-form" action="search_tour.php">
				              	<div class="row">
				                <div class="col-md-12">
				                    <div class="form-field">
				                      <input type="text" id="tour_search" class="hotel_location tt-query form-control" autocomplete="off" spellcheck="false" placeholder="Search Location" name="tour_location">
				                    </div>
				                </div>
				                <div class="col-md-12">
				                </div>
				                <div class="col-md-12">
				                </div>
				                <div class="col-md-12">
				                  <input type="submit" name="submit" id="submit" value="Find Tour" class="btn btn-primary btn-block">
				                </div>
				              </div>
				            </form>

							</div>


						