<div id="colorlib-subscribe" style="background-image: url(assets/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
            <h2>Sign Up for a Newsletter</h2>
            <p>Sign up for our mailing list to get latest updates and offers.</p>
            <form class="form-inline qbstp-header-subscribe" action="https://facebook.us19.list-manage.com/subscribe/post?u=d8150b07a9d8ad966d8ead1ec&amp;id=db3c7c2a7f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="row">
                    <div class="col-md-12 col-md-offset-0">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Enter your email" name="EMAIL">
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d8150b07a9d8ad966d8ead1ec_db3c7c2a7f" tabindex="-1" value=""></div>
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>